.image-list{
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
}

.image-list .container  {
   position: relative;
   height: 100%;
   width: 100%;
   margin: auto;
   
}
.image-list .container .img:first-child{
    grid-column-start: span 2 ;
    grid-row-start: span 2;
}
.image-list .container .img:nth-child(2n+1){
    grid-column-start: span 2 ;
}



